<!-- PREVIEW PANEL -->

<div id="preview-panel" ng-cloak>
  <div class="wrap-content">
    <a ng-click="exitPreview()"><span class="preview-close">Fermer</span></a>
<!--
FIXME    <span class="preview-prev">Précédent</span>
         <span class="preview-next">Suivant</span>
-->
    <div class="left">
      <div id="sample">
        <img ng-src="{{ config.bucket_preview_uri }}{{ file.thumbnail_url }}?width=385" alt="" />
      </div>
      <div class="infos">
        <div class="author">
          <img class="avatar" src="img/_TEMP/emptyavatar.jpg" />
          <strong>{{ file.uploaded_by.username }}</strong>
          <!--<em>Petite licorne</em>-->
        </div> 
        <button ng-click="openFile()" class="opendoc">Télécharger</button>
<!--
 FIXME       <button class="fav">Favori</button>
-->
      </div>
    </div>
    <div class="right">
      <ul class="tabs" ng-init="tab=1">
        <li ng:class="{'active' : tab==1 }"><a href ng-click="tab=1">Détails du document</a></li>
        <li ng:class="{'active' : tab==2 }"><a href ng-click="tab=2" ><span>{{ file.comments.length }}</span>Commentaires</a></li>
      </ul>
      <div ng-show="tab == 1" id="preview-tab1">
        <div class="infos img">
          <strong>
            {{ file.filename }}
            <span ng-show="file.being_edited_by" style="color:red; float: right; margin-right: 10px;"> 
              Edité (par {{file.being_edited_by.username}})
            </span>
          </strong>
          <em>{{ file.updated_on | date:"dd/MM/yyyy - h:m"}} <a href="#">{{ file.uploaded_by.username }}</a></em>
        </div>
        <ul>
          <!--<li><a href>Imprimer</a></li>-->
          <li><button ng-click="deleteFile(file.id)">Supprimer le fichier</button></li>
          <li>
            <button ng-show="!file.being_edited_by" ng-click="openForEdition(file.id)">Ouvrir pour édition</button>
            <button ng-show="file.being_edited_by" ng-click="cancelOpenForEdition(file.id)">Annuler la mise en édition </button>
          </li>
          <li ng-show="!file.being_edited_by || file.being_edited_by.username == authVars.user.username">
            <input style="opacity:0; position:absolute; cursor:pointer; height:46px; width:485px" 
            type="file" ng-file-select="{'formData':[{ 'bucket': {{bucketId}}, 'id':{{file.id}} }]}" 
            class="add"/><button style="z-index:-10">Mettre à jour</button>
          </li>
          <li ng-show="file.being_edited_by && file.being_edited_by.username != authVars.username">
            <button>Seul {{file.being_edited_by.username}} peut mettre à jour</button>
          </li>
          <!--<li><a href="#">Partager</a></li>-->
          <!--<li><a href="#">Envoyer vers</a></li>-->
          <li><button ng-click="addLabels(file.id)"> Ajouter des labels </button></li>
        </ul>
        <p class="labels">
          <em>Labels associés</em>
          
          <span ng-repeat="tag in file.tags"> {{ tag.name }},</span>
        </p>
      </div>
      <div ng-show=" tab == 2" id="preview-tab2">
        <section ng-controller="FileCommentCtrl" class="comments">
          <ul class="comments-list">
            <li ng-repeat=" comment in comments">
              <img src="img/_TEMP/emptyavatar.jpg" alt="" />
              <strong>{{ comment.submitter.username }}</strong>
              <p>
                {{ comment.text }}
              </p>
            </li>
          </ul>
          <!--<a href="#" class="seemore">FIXME commentaires</a>-->
          <form>
            <textarea name="text" ng-model="comment_form.text" placeholder="Ajouter un commentaire"></textarea>
            <button type="submit" ng-click="submitForm()" >Envoyer</button>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
