<!-- overlay when dragndropping -->
<div id="filedrop-overlay"><div class="center">&nbsp;</div></div>

<!-- left toolbar -->
<div id="toolbar" ng-controller="ToolbarCtrl">
  <ul>
    <!--
	FIXME	  <li class="open"><button ng-click="$root.panel = ''">Déplier</button></li>
	FIXME	  <li class="search"><button ng-click="$root.panel = 'search'">Rechercher</a></li>
      -->
    <li class="settings"><button ng-click="$root.panel = ($root.panel=='settings') ? '' : 'settings'">Options</button></li>
    <li class="add"><button ng-click="$root.panel = ($root.panel=='upload') ? '' : 'upload'">Ajouter</button></li>
    <!--
	FIXME	  <li class="files"><button>Fichiers</button></li>
	FIXME	  <li class="recent" ng-click="$root.panel = 'recent'"><button>Récents</button></li>
	FIXME	  <li class="fav" ng-click="$root.panel = 'favorite'"><button>Favoris</button></li>
      -->
    <li class="connected"><a ng-click="$root.panel = ($root.panel=='logout') ? '' : 'logout'"><img src="img/login/connected_ico.png" alt="" /></a></li>
  </ul>

  <ng-switch on="$root.panel" ng-init="$root.panel = ''">
    <div ng-switch-when="search">
      <ng-include src="'views/sidebar-search.html'"/>
    </div>
    <div ng-switch-when="settings">
      <ng-include src="'views/sidebar-settings.html'"/>
    </div>
    <div ng-switch-when="upload">
      <ng-include src="'views/sidebar-upload.html'"/>
    </div>
    <div ng-switch-when="recents">
      <ng-include src="'views/sidebar-recents.html'"/>
    </div>
    <div ng-switch-when="favs">
      <ng-include src="'views/sidebar-favs.html'"/>
    </div>
    <!-- Logout panel -->
    <div ng-switch-when="logout">
      <div id="connected-user-block">
            <strong>{{ authVars.username }}</strong>
            <button ng-click="logout()">Déconnexion</button>
            <button style="margin-top:2px" ng-click="exitFiler()">Quitter ce classeur</button>
            <span class="little-arrow">&nbsp;</span>
      </div>
    </div>
  </ng-switch>
    <!-- Notification messages  -->
    <div id="assignation">
        Classeur associé avec succès
    </div>
</div>

</ul>

<section id="drive-app" >
  <div>

    <div id="topbar">
      <div id="search-block" >
    	<form>
            <angucomplete id="searchField" autocomplete="off" minlength="1" url="{{autocompleteUrl}}" 
    	    datafield="objects" titlefield="name" selectedobject="search_form.query" type="text" 
    	    pause="300" ng-model="search_form.query" placeholder="Rechercher ou filtrer par label..." />
            <button id="search-bt" ng-click="searchFiles()" >Rechercher un fichier</button>
            <!-- <button id="label-bt">Rechercher un label</button> -->
    	</form>
      </div>

      <div class="actions">
	<!--
	    FIXME <button class="action del">Supprimer</button>
	  -->
	<!--
	    FIXME <button class="action tools">Options</button>
	  -->
	<!--
	    FIXME <button class="action fav">Favori</button>
	  -->
	
	<div id="display-mode">
	  <!--
	      FIXME          <button class="active" id="display1-bt">Afficher en blocs</button>
	    -->
	  <!--
	      FIXME        <button id="display2-bt">Afficher en lignes</button>
	    -->
	</div>
	<div id="sort-mode"></div>
      </div>

      <div id="current-labels">
	<ul class="labels-list">
	  <li ng-repeat="tag in selectedTags"><span>{{tag}}</span> <button ng-click="removeTag(tag)">Supprimer</button></li>
	</ul>
	<!--
	    FIXME <button class="erase-all">Tout supprimer</button>
	  -->
      </div>

      <div id="cards-wrapper">
	<ng-include class="element" src="'views/file-card.html'" ng-repeat="file in files" />
      </div>
    </div>
  </div>

  <!-- temp: move me! -->
  <div id="preview-panel-wrapper" ui-view></div>
  
</div>

</section>
