<!-- PREVIEW PANEL -->
<div id="preview-panel">
  <div class="wrap-content">
    <span class="preview-close">Fermer</span>
    <span class="preview-prev">Précédent</span>
    <span class="preview-next">Suivant</span>
    <div class="left">
      <div id="sample">
        <img src="img/_TEMP/big_preview.jpg" alt="" />
      </div>
      <div class="infos">
        <div class="author">
          <img class="avatar" src="img/_TEMP/avatar2.jpg" />
          <strong>Ellen Page</strong>
          <em>Petite licorne</em>
        </div> 
        <button class="opendoc">Ouvrir le document</button>
        <button class="fav">Favori</button>
      </div>
    </div>
    <div class="right">
      <ul class="tabs">
        <li><a href="#preview-tab1">Détails du document</a></li>
        <li class="active"><a href="#preview-tab2"><span>12</span>Commentaires</a></li>
      </ul>
      <div style="display:none" id="preview-tab1">
        <div class="infos img">
          <strong>Nom du fichier</strong>
          <em>Modifié le 21 Novembre 2013 par <a href="#">Dave Grohl</a></em>
        </div>
        <ul>
          <li><a href="#">Imprimer</a></li>
          <li><a href="#">Supprimer le fichier</a></li>
          <li><a href="#">Partager</a></li>
          <li><a href="#">Envoyer vers</a></li>
        </ul>
        <p class="labels">
          <em>Labels associés</em>
          Label 3, label 2, Labelilalala
        </p>
      </div>
      <div id="preview-tab2">
        <ul class="comments-list">
          <li>
            <img src="img/_TEMP/avatar2.jpg" alt="" />
            <p> 
              <strong>Oscar Cheddar -</strong>
              Blabla bloubli Blala
            </p>
            <span class="date">Le 3 novembre 2013</span>
          </li>
        </ul>
        <form>
          <textarea placeholder="Ajouter un commentaire..."></textarea>
          <button type="submit">Ok</button>
        </form>
      </div>
    </div>
  </div>
</div>
