<!-- Labelisation -->
<div id="labelisation" ng-controller="FileLabellisationCtrl">
    <div class="wrap-content">
	<h1>Veuillez ajouter les labels correspondants à ce fichier</h1>
	<div class="content">
	    <div class="left">
		<div class="files-list">
		    <div class="fileline" ng-repeat="file in files">
			<img width="168" height="115" ng-src="{{ config.bucket_preview_uri }}{{ file.thumbnail_url }}?width=168" alt="{{ file.name }}"  />
			<div class="infos">
			    <strong>{{ file.filename }}</strong>
			    <ul class="labels-list">
				<li ng-repeat="tag in taggingQueue[file.id]" ><span>{{ tag.name }}</span> <button ng-click="removeTag(file.id, tag)">Supprimer</button></li>
			    </ul>
			</div>
		    </div>
		</div>
		<!--<div class="newfile">
		    <span>Ajouter un autre fichier</span>
		</div>-->
	    </div> 
	    <div class="right">
		<p>Cliquer sur +  ou sur un label suggéré pour qu’il soit assigné au fichier</p>
		<form>
		    <angucomplete id="tagSearchField" pause="300" minlength="1" url="{{tagAutocompleteUrl}}" datafield="objects" titlefield="name" selectedobject="tag_search_form.query" type="text" ng-model="tag_search_form.query" placeholder="Rechercher ou ajouter un label..." />
		    
		</form>
		<button id="label-bt" ng-click="addToSuggestedTags()" >Add</button>
		<h2>Labels fréquemment utilisés</h2>
		<ul class="labels-list">
		    <li ng-repeat="tag in suggestedTags"><span style="cursor:pointer" ng-click="addTag(files[0].id,tag)">{{ tag.name }}</span></li>
		</ul>
	    </div>
	    <div class="bottom">
		<button class="abort" ng-click="goHome()">Annuler</button>
		<button class="valid" ng-click="updateTags()">Valider</button>
	    </div>
	</div>
    </div>
</div>
        <!-- Fin Labelisation -->
