<div id="left-panel" class="upload-panel">
  <div class="top-panel">
    <button class="about">A propos</button>
    <h2>Ajouter</h2>
    <p>
      Selectionnez vos fichiers et assignez leurs un ou plusieurs labels
    </p>
    <input type="file" ng-file-select class="add" value="Ajouter"/>
  </div>

  <div id="current-files">
    <ul>
      <li ng-repeat="item in uploader.queue">
	<button ng-show="item.isSuccess" ng-click="seeUploadedFile(item._xhr.response)" class="goto">Voir</button>
	<button ng-show="item.isReady || item.isUploading" class="close">Retirer</button>
	<strong>{{ item.file.name }}</strong>
	<em>{{ item.file.size/1024/1024|number:2 }} MB</em>
	<div ng-show="item.isReady || item.isUploading" class="progressbar">
          <span style="width:{{ item.progress }}%">{{ item.progress }}%</span>
	</div>
	<div ng-show="item.isSuccess" class="progressbar complete">
          <span>Terminé</span>
	</div>
      </li>
    </ul>
  </div>
</div>
