<div id="left-panel" class="upload-panel">
  <div class="top-panel">
    <button ng-click="$root.panel = ''" style="float: right; background-color: rgba(0, 0, 0, 0);border: medium none;">
        <img src="../img/close_25x25.png" alt="Close" /></button>
    <h2>Partager</h2>
    <p> Sélectionnez le groupe avec lequel partager ce classeur:</p>
    <select ng-model="selectedGroup" ng-options="group.id as group.name for group in authVars.user.groups">
        <option value="">choisir un groupe</option>
    </select>
    <!-- FIXME : use Angular style select-->
    <button ng-click="assignToGroup(selectedGroup)"> Ok </button>
  </div>
</div>
