<div id="left-panel" class="upload-panel">
  <div class="top-panel">
    <button class="about">A propos</button>
    <h2>Ajouter</h2>
    <p>
      Selectionnez vos fichiers et assignez leurs un ou plusieurs labels
    </p>
    <button class="add">Ajouter</button>
  </div>

  <div id="current-files">
    <ul>
      <li>
	<button class="close">Retirer</button>
	<strong>Document1.doc</strong>
	<em>12 mo</em>
	<div class="progressbar">
          <span style="width:98%">98%</span>
	</div>
      </li>
      <li>
	<button class="close">Retirer</button>
	<strong>Document2.doc</strong>
	<em>12 mo</em>
	<div class="progressbar">
          <span style="width:43%">43%</span>
	</div>
      </li>
      <li>
	<button class="close">Retirer</button>
	<strong>Document3.doc</strong>
	<em>12 mo</em>
	<div class="progressbar">
          <span style="width:68%">68%</span>
	</div>
      </li>
      <li>
	<button class="goto">Voir</button>
	<strong>Document4.doc</strong>
	<em>12 mo</em>
	<div class="progressbar complete">
          <span>Terminé</span>
	</div>
      </li>
    </ul>
  </div>
</div>
