<div id="left-panel" class="fileslist-panel">
  <div class="top-panel">
    <button class="goto">&nbsp</button>
    <h2>Favoris</h2>
  </div>

  <div class="fileslist">
    <ul>
      <li class="doc"><a href="">Fichier1.pdf</a></li>
      <li class="doc"><a href="">Document2.doc</a></li>
      <li class="vid"><a href="">Video4.mov</a></li>
      <li class="img"><a href="">Titre pour un long Fich...</a></li>
      <li class="doc"><a href="">Fichier1.pdf</a></li>
      <li class="doc"><a href="">Document2.doc</a></li>
      <li class="vid"><a href="">Video4.mov</a></li>
      <li class="img"><a href="">Titre pour un long Fich...</a></li>
    </ul>
  </div>
</div>
