/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
	font-family:Raleway,sans-serif;
	font-size:12px;
	background:#f6f7f8;
}

* {
	@include box-sizing("border-box");
}

button {
	cursor:pointer;
}

#content {
    height: 100%;
    min-height: 100%;
}

/* ============= TOOLBAR ============= */

#toolbar {
	height:100%;
	min-height:540px;
	position:fixed;
	top:0;
	left:0;
	width:60px;
	background:rgba(22,23,25,0.95);
	z-index:10;

	> ul > li > button {
		display:block;
		height:60px;
		width:60px;
		color:#eee;
		border:0;
		border-top:1px solid #2e2f30;
		border-bottom:1px solid black;
		font-size:0.8rem;
		outline:0 !important;
		text-indent:-9999em;
		cursor:pointer;
	}

	li:first-child button { border-top: 0 }
	li:last-child button { border-bottom: 0 }

	li.open button { 
		background:image-url('toolbar/depli_ico.png') no-repeat center center;
	}

	li.add button { 
		background:image-url('toolbar/up_ico.png') no-repeat center center;
	}

	li.search button { 
		background:image-url('toolbar/search_ico.png') no-repeat center center;
	}

	li.files button { 
		background:image-url('toolbar/files_ico.png') no-repeat center center;
	}

	li.recent button { 
		background:image-url('toolbar/recent_ico.png') no-repeat center center;
	}

	li.fav button { 
		background:image-url('toolbar/fav_ico.png') no-repeat center center;
	}

	li.connected {
		position:absolute;
		bottom:0;
		height:28px;
		text-align:center;
		width:100%;

		a {
			display:block;
			width:100%;
			height:28px;
			outline:0;
		}

		img {
			display:inline;
			position:relative;
			top:4px;
		}
	}
}

// Labels

.labels-list {
	li {
		display:block;
		float:left;
		background:#efefef;
		height:28px;
		line-height:28px;
		border:1px solid #d5d5d5;
		margin:0 4px 4px 0;
		@include border-radius(5px);
	}

	span {
		font-weight:700;
		color:#5672ad;
		font-size:0.65rem;
		font-style:italic;
		padding:0 10px;
		line-height:28px;
		display:block;
		float:left;
	}

	button {
		height:26px;
		width:28px;
		border:0;
		border-left:1px solid #d5d5d5;
		text-indent:-9999rem;
		background:image-url('cross.png') no-repeat center center;
	}
}

// DRIVE APP

#topbar {
	height:60px;
	width:100%;
	background:#efefef;

	#search-block {
		float:left;
		
		.angucomplete-holder {
			float:left;
			margin-left:108px;
		}
		
		input[type="text"] {
			height:33px;
			width:265px;
			position:relative;
			left:-8px;
			padding:0 13px;
			border:1px solid #d5d5d5;
			color:#666;
			font-style:italic;
			font-size:0.75rem;
			margin:14px 0 0 0;
			@include border-radius(16px);
			outline:0 !important;
		}

		#search-bt {
			border:0;
			height:36px;
			width:36px;
			text-indent:-9999em;
			margin:12px 0 0 6px;
			background:image-url('topbar/search_ico.png');
		}

		#label-bt {
			border:0;
			height:36px;
			width:36px;
			text-indent:-9999em;
			margin:12px 0 0 6px;
			background:image-url('topbar/label_ico.png');
		}
	}

	.actions {
		float:right;

		button.action {
			height:40px;
			width:40px;
			border:0;
			text-indent:-9999rem;
			margin:10px 12px 0 0;
			float:left;
		}

		button.del {
			background:image-url('topbar/del_ico.png') no-repeat center center;
		}

		button.tools {
			background:image-url('topbar/tools_ico.png') no-repeat center center;
		}

		button.fav {
			background:image-url('topbar/fav_ico.png') no-repeat center center;
		}
	}

	#display-mode {
		float:left;
		margin:16px;

		button {
			width:28px;
			height:28px;
			background-color:#ffffff;
			border:1px solid #d5d5d5;
			text-indent:-9999rem;
			margin:0;
			float:left;

			&.active {
				background-color:#4b4b4b;
			}
		}

		#display1-bt {
			background-image:image-url('topbar/display1_ico.png');
			background-repeat:no-repeat;
			background-position:center center;
			@include border-radius(4px 0 0 4px);
		}

		#display2-bt {
			border-left:0;
			background-image:image-url('topbar/display2_ico.png');
			background-repeat:no-repeat;
			background-position:center center;
			@include border-radius(0 4px 4px 0);
		}
	}
}

#current-labels {
	padding:0 0 0 52px;
	margin:20px 0;
	float:left;
	width:100%;
	background:image-url('labels_ico.png') no-repeat 20px center;

	.erase-all {
		background:none;
		border:0;
		border-left:1px solid #bdbdbd;
		padding-left:6px;
		font-size:0.65rem;
		height:21px;
		display:block;
		float:left;
		line-height:21px;
		color:#bdbdbd;
		font-weight:700;
		margin:4px 0 0 8px;
	}
}

#drive-app {
	width:100%;
	margin:0 auto;
	padding-left:60px;

	#cards-wrapper {
		margin:20px 0 0 0;
		clear:both;
	}

	.file {	
		width:240px;
		float:left;
		margin:0 0 12px 12px;
		background:white;
		position:relative;
		border:2px solid transparent;

		.preview-cursor { display:none }

		&.previewed {
			border:2px solid black;
			cursor:pointer;

			.preview-cursor {
				display:block;
				position:absolute;
				bottom:-14px;
				left:48%;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 6.5px 10px 6.5px;
				border-color: transparent transparent #1c1d22 transparent;
			}
		}
		&:before, &:after {
			content:"";
		    position:absolute; 
		    z-index:-1;
		    @include box-shadow(0 0 10px rgba(0,0,0,0.2));
		    top:50%;
		    bottom:0;
		    left:10px;
		    right:10px;
		    @include border-radius(100px / 10px);
		}

		header {
			color:#4b4b4b;
			float:left;
			width:100%;

			.ico {
				height:34px;
				margin:4px 10px 4px 0;
				width:46px;
				float:left;
				text-indent:-9999em;
				border-right:1px solid #e6e6e6;
			}

			h1 a {
				color:#4b4b4b;
				font-weight:700;
				font-style:italic;
				font-size:0.75rem;
				text-decoration:none;
				display:block;
				line-height:1rem;
				padding:6px 0 0 0;
				// TODO change that shit
				height:22px;
				overflow:hidden;
			}

			em {
				font-style:italic;
				font-size:0.7rem;
			}
		}

		&.vid header .ico { background:image-url('vid_ico.png') no-repeat center center }
		&.img header .ico { background:image-url('img_ico.png') no-repeat center center }
		&.doc header .ico { background:image-url('doc_ico.png') no-repeat center center }

		.author {
			background:#efefef;
			border-top:1px solid #e6e6e6;
			border-bottom:1px solid #e6e6e6;
			float:left;
			width:100%;

			.avatar {
				float:left;
				border:3px solid white;
				margin:0 6px 0 0;
			}

			strong {
				color:#4b4b4b;
				font-weight:700;
				font-size:0.75rem;
				display:block;
				line-height:1.1rem;
				padding:6px 0 2px 0;
			}

			em {
				font-style:italic;
				font-size:0.7rem;
			}
		}

		.comments {
			float:left;
			width:100%;
			padding:0 0 10px;

			.seemore {
				color:#c1c1c1;
				font-weight:700;
				font-style:italic;
				display:block;
				text-decoration:none;
				text-align:center;
				line-height:26px;
				height:20px;
				font-size:0.7rem;
			}

			textarea {
				border:1px solid #c1c1c1;
				color:#666;
				width:227px;
				height:50px;
				padding:4px;
				margin:6px 0 0 6px;
				font-size:0.9rem;
				font-family:'Times New Roman',Georgia, serif;
				font-weight:500;
				font-style:italic;
				@include border-radius(4px);
			}

			button {
				background:#3e414c;
				border:0;
				@include border-radius(4px);
				color:white;
				display:block;
				font-size:0.7rem;
				font-weight:500;
				height:25px;
				margin:5px auto 0;
			}
		}

		ul.comments-list {
			position:relative;
			overflow:hidden; 
			border-top:1px solid #ddd;
			border-bottom:1px solid #ddd; 

			li {
				float:left;
				width:100%;
				background:#efefef;
				border-bottom:1px solid white;

				&:before {
				  content: ""; 
				  position:absolute; 
				  z-index: 1; 
				  width:96%;  
				  top: -10px; 
				  height: 10px; 
				  left: 2%; 
				  border-radius: 100px / 5px; 
				  box-shadow:0 0 5px rgba(0,0,0,0.1); 
				}

				&:after {
				  content: "";
				  position:absolute;
				  z-index: 1;
				  width:96%; 
				  bottom: -10px;
				  height: 10px;
				  left: 2%;
				  border-radius: 100px / 5px;
				  box-shadow:0 0 5px rgba(0,0,0,0.1);
				}

				&:first-child {
				}

				&:last-child {
				  border:0;
				}
			}

			img {
				float:left;
				margin:8px 16px 8px 8px;
			}

			strong {
				display:block;
				color:#4b4b4b;
				font-weight:700;
				padding:10px 0 2px;
				font-size:0.75rem;
			}

			p {
				color:#818181;
				font-size:0.7rem;
				font-weight:500;
				line-height:0.85rem;
				padding:0 0 6px;
			}
		}
	}

	&.preview-mode .file .preview {
		height:164px;
		overflow:hidden;
	}

	&.preview-mode .file .comments {
		display:none;
	}

	&.preview-mode .file .author {
		display:none;
	}
}

// List display

#list-wrapper {
	margin:20px 0 0 20px;
	clear:both;
	width:90%;

	#sort-list {
		width:100%;
		height:28px;

		.check, .fav, .type, .title, .author, .etab, .last-mod {
			float:left;

			a {
				color:#9a9a9a;
				font-weight:bold;
				font-size:0.75rem;
				text-decoration:none;
				background:image-url('sort_triangle.png') no-repeat center right;
				padding-right:12px;
			}
		}

		.check { width:5% }
		.fav { width:5% }
		.type { width:7% }
		.title { width:15% }		
		.author { width:15% }
		.etab { width:12% }
		.last-mod { width:18% }
	}

	.wrapper {
		float:left;
		width:100%;

		.element {
			width:100%;
			height:40px;
			border-top:1px solid #e6e6e6;
			color:#818181;

			&:hover {
				background:#efefef;
			}

			.check, .fav, .type, .title, .author, .etab, .last-mod {
				float:left;
				line-height:40px;
			}

			.check { 
				width:5%;
				position:relative;
				top:2px;
			 }

			.fav { 
				width:5%;

				button {
					width:22px;
					height:22px;
					background:image-url('topbar/fav_ico.png') no-repeat center center;
					border:0;
					text-indent:-9999rem;
				}
			}
			.type { 
				width:7%;

				span {
					display:inline-block;
					height:31px;
					width:31px;
					text-indent:-9999rem;
					position:relative;
					top:5px;
				}

				.doc {
					background:image-url('doc_ico.png') no-repeat top left;
				}
				.img {
					background:image-url('img_ico.png') no-repeat top left;
				}
				.vid {
					background:image-url('vid_ico.png') no-repeat top left;
				}
			}
			.title { width:15%; font-weight:bold; font-size:0.8rem; }		
			.author { width:15%; font-weight:bold; font-size:0.8rem; }
			.etab { width:12%; font-size:0.8rem; }
			.last-mod { width:18%; font-size:0.8rem; }

			.more {
				float:right;
				margin-right:5px;

				.infos {
					display:inline-block;
					height:22px;
					width:22px;
					background:image-url('infos_ico.png') no-repeat center center;
					text-indent:-9999rem;
					margin:0 10px;
				}

				.comments {
					display:inline-block;
					height:20px;
					width:20px;
					color:white;
					font-size:0.7rem;
					background:image-url('comments_ico2.png') no-repeat center center;
					text-align:center;
					line-height:0.9rem;
					margin:0 10px;
					position:relative;
					top:3px;
				}

				button {
					margin-left:30px;
					position:relative;
					top:5px;
					@include border-radius(5px);
					height:30px;
					padding:0 10px;
					font-size:0.7rem;
					font-weight:bold;
					color:white;
					border:1px solid #0a0a0c;
					background: #40424d; /* Old browsers */
					background: -moz-linear-gradient(top, #40424d 1%, #282830 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#40424d), color-stop(100%,#282830)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #40424d 1%,#282830 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #40424d 1%,#282830 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #40424d 1%,#282830 100%); /* IE10+ */
					background: linear-gradient(to bottom, #40424d 1%,#282830 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40424d', endColorstr='#282830',GradientType=0 ); /* IE6-9 */
				}
			}
		}
	}
}

// Labelisation

#labelisation {
	width:100%;
	height:100%;
	min-height:100%;
	position:fixed;
	top:0;
	left:0;
	background:rgba(0,0,0,0.8);
	z-index:2000;

	.wrap-content {
		min-height:560px;
		max-height:700px;
		width:900px;
		margin:-280px -450px;
		position:absolute;
		left:50%;
		top:50%;
	}

	h1 {
		height:84px;
		color:white;
		padding:0 300px 0 90px;
		font-size:1.7rem;
		line-height:1.8rem;
		background:image-url('big_label.png') no-repeat top left;
	}

	.content {
		background:white;
		float:left;
		padding:12px 0 0 0;
		width:100%;
		@include border-radius(10px);
	}

	.left {
		float:left;
		width:592px;
		padding:0 12px;
		border-right:1px solid #e6e6e6;

		.files-list {
			max-height:278px;
			float:left;
			width:100%;
			overflow:auto;
		}

		.fileline {
			padding:4px;
			width:100%;
			float:left;
			position:relative;
			@include border-radius(4px);

			&:hover {
				background:#f5f5f5;
			}

			img {
				float:left;
				margin:0 10px 0 0;
			}

			.infos {
				padding-left:178px;
				strong {
					color:#4b4b4b;
					display:block;
					font-size:0.7rem;
					text-align:center;
					font-weight:bold;
					padding:5px 0 15px;

					span {
						font-weight:normal;
					}
				}

				button.close {
					position:absolute;
					top:10px;
					right:10px;
					width:20px;
					height:20px;
					background:image-url('close.png') no-repeat center center;
					border:0;
					text-indent:-9999em;
				}
			}
		}

		.newfile {
			height:134px;
			width:100%;
			color:#dadada;
			position:relative;
			border-top:1px solid #e6e6e6;
			margin-top:6px;
			float:left;

			span {
				display:block;
				width:200px; 
				height:80px;
				background:image-url('new_file.png') no-repeat center left;
				padding:15px 0 0 55px;
				font-weight:bold;
				font-size:1.2rem;
				line-height:1.5rem;
				position:absolute;
				margin:-40px -100px;
				top:50%;
				left:50%;
			}
		}
	}

	.right {
		margin:0 0 0 602px;
		padding-right:12px;

		p {
			font-style:italic;
			font-weight:bold;
			padding:0px 100px 10px 10px;
			line-height:1.2rem;
		}
		
		.angucomplete-holder {
			float:left;
		}
		
		#label-bt {
			display:inline-block;
			height:34px;
			width:34px;
			border:0;
			background:image-url('new_file.png') no-repeat center center;
			background-size:34px;
			text-indent:-9999rem;
			margin-left:4px;
		}
		
		input[type="text"] {
			height:33px;
			width:236px;
			padding:0 13px;
			border:1px solid #d5d5d5;
			color:#666;
			font-style:italic;
			font-size:0.75rem;
			@include border-radius(16px);
		}

		h2 {
			font-weight:bold;
			font-size:0.85rem;
			margin:28px 0 12px;
		}
		
		.labels-list {
			margin-bottom:5px;
			float:left;
		}
	}

	.bottom {
		width:100%;
		float:left;
		background:#efefef;
		height:52px;
		padding:10px 8px;
		@include border-radius(0 0 10px 10px);

		button {
			height:35px;
			padding:0 35px;
			color:white;
			font-size:0.8rem;
			margin-right:4px;
			border:0;
			font-weight:300;
			float:left;
			@include border-radius(6px);

			&.abort {
				background:#a7a7a7;
			}

			&.valid {
				background:#7bbae7;
			}
		}
	}
}
// Fin Labelisation

// Left Panel //

#left-panel {
	width:220px;
	height:100%;
	position:fixed;
	top:0;
	left:60px;
	background:white;
	z-index:3000;
	@include box-shadow(2px 0 3px #DDDDDD);
}

.upload-panel {
	padding:0 20px;

	.top-panel {
		margin:35px 0 65px 0;
		position:relative;

		h2 {
			color:#4b4b4b;
			font-size:1.2rem;
			padding:8px 0 30px;
		}

		button.add {
			height:35px;
			padding:0 35px;
			color:white;
			font-size:0.8rem;
			border:0;
			font-weight:300;
			width:100%;
			@include border-radius(6px);
			background:#7bbae7;
		}

		button.about {
			position:absolute;
			top:0;
			right:0;
			display:block;
			border:0;
			height:32px;
			width:32px;
			text-indent:-9999rem;
			background:image-url('i.png') no-repeat top left;
		}

		p {
			color: #818181;
		    font-size: 0.75rem;
		    line-height: 0.9rem;
		    padding: 0 0 18px;
		}
	}

	#current-files {
		li {
			display:block;
			width:100%;
			float:left;
			margin:0 0 15px;

			button.remove {
				width:20px;
				height:20px;
				background:image-url('close.png') no-repeat top left;
				text-indent:-9999rem;
				border:0;
				float:right;
			}
			
			button.upload, button.cancel { 
					background: none repeat scroll 0 0 #CCCCCC;
					border: 0 none;
					border-radius: 10px;
					color: #FFFFFF;
					display: inline-block;
					float: right;
					font-size: 0.7rem;
					height: 20px;
					margin-right: 2px;
			}

			strong {
				color:#4b4b4b;
				display:block;
				font-size:0.7rem;
				font-weight:bold;
				padding:5px 0 2px;
			}

			em {
				font-weight:normal;
				color:#aaa;
				font-style:italic;
			}

			.progressbar {
				height:12px;
				border:1px solid #d5d5d5;
				background:#f7f7f7;
				width:100%;
				margin:8px 0 0 0;
				@include border-radius(6px);

				span {
					text-indent:-9999rem;
					background:#7bbae7;
					@include border-radius(6px);
					height:10px;
					display:block;
				}

				&.complete {
					height:auto;
					border:0;
					background:none;
					width:auto;

					span {
						text-indent:0;
						background:image-url('green_v.png') no-repeat left center;
						padding-left:16px;
						color:#94c667;
						line-height:8px;
						margin:0 0 0 20px;
						float:left;
						font-weight:bold;
						font-style:italic;
					}
				}
			}

			button.goto {
				height:32px;
				width:32px;
				background:image-url('next_ico.png') no-repeat top left;
				float:right;
				border:0;
				text-indent:-9999rem;
				margin:10px 0 0 0;
			}
		}
	}
}

.search-panel {
	padding:0;

	.top-panel {
		margin:35px 20px 35px;
		position:relative;

		h2 {
			color:#4b4b4b;
			font-size:1.2rem;
			padding:8px 0 30px;
		}

		button.goto {
			position:absolute;
			top:0;
			right:0;
			display:block;
			border:0;
			height:32px;
			width:32px;
			text-indent:-9999rem;
			background:image-url('next_ico.png') no-repeat top left;
		}

		form {
			input[type="text"] {
				height:33px;
				width:100%;
				padding:0 13px;
				border:1px solid #d5d5d5;
				color:#666;
				font-style:italic;
				font-size:0.75rem;
				margin:0 0 20px;
				@include border-radius(16px);
			}

			#search-bt-2 {
				border:0;
				height:36px;
				width:36px;
				text-indent:-9999em;
				margin:0 0 0 45px;
				background:image-url('topbar/search_ico.png');
			}

			#label-bt-2 {
				border:0;
				height:36px;
				width:36px;
				text-indent:-9999em;
				margin:0 0 0 6px;
				background:image-url('topbar/label_ico.png');
			}
		}
	}

	#last-search {
		h3 {
			color:#4b4b4b;
			font-weight:bold;
			font-size:0.7rem;
			padding:0 24px 8px;
			line-height:1rem;
			border-bottom:1px solid #e6e6e6;
		}

		li a {
			display:block;
			color:#4b4b4b;
			font-size:0.75rem;
			line-height:29px;
			border-bottom:1px solid #e6e6e6;
			padding:0 24px;
			text-decoration:none;
		}
	}
}

.fileslist-panel {
	padding:0;

	.top-panel {
		margin:35px 20px 0;
		position:relative;

		h2 {
			color:#4b4b4b;
			font-size:1.2rem;
			padding:8px 0 29px;
		}

		button.goto {
			position:absolute;
			top:0;
			right:0;
			display:block;
			border:0;
			height:32px;
			width:32px;
			text-indent:-9999rem;
			background:image-url('next_ico.png') no-repeat top left;
		}
	}

	.fileslist {
		li {
			&.doc {
				background:image-url('minidoc_ico.png') no-repeat 14px center;
			}

			&.vid {
				background:image-url('minivid_ico.png') no-repeat 14px center;
			}

			&.img {
				background:image-url('miniimg_ico.png') no-repeat 14px center;
			}

			&:hover {
				background-color:#efefef;

				a {
					background:image-url('mini_goto.png') no-repeat 95% center;
				}
			}

			a {
				display:block;
				color:#4b4b4b;
				font-size:0.75rem;
				line-height:29px;
				border-bottom:1px solid #e6e6e6;
				padding:0 24px 0 45px;
				text-decoration:none;
			}
		}

		li:first-child a {
			border-top:1px solid #e6e6e6;
		}
	}
}

// Fin Left Panel //
#filedrop-overlay {
    display:none;
}

body.ng-file-over > #filedrop-overlay {
	background:rgba(0,0,0,0.8);
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	cursor:crosshair;
	display: block;
	z-index:5000;

	.center {
		width:424px;
		height:424px;
		margin:-212px;
		position:absolute;
		top:50%;
		left:50%;
		background:image-url('filedrop.png');

		&:hover {
			@include opacity(0.6);
		}
	}
}

// preview

#preview-panel-wrapper {
	width:100%;
}

#preview-panel {
	width:100%;
	height:415px;
	float:left;
	padding:10px 0 0 0;
	background:#1c1d22;
	margin:0 0 10px;

	.wrap-content {
		margin:0 auto;
		width:90%;
		max-width:980px;
		min-width:700px;
		position:relative;

		.preview-close {
			display:block;
			width:23px;
			height:23px;
			background:image-url('preview_close.png') no-repeat top left;
			position:absolute;
			right:-50px;
			top:15px;
			text-indent:-9999rem;
		}

		.preview-prev {
			display:block;
			width:16px;
			height:28px;
			background:image-url('preview_prev.png') no-repeat top left;
			position:absolute;
			left:-50px;
			top:170px;
			text-indent:-9999rem;
		}

		.preview-next {
			display:block;
			width:16px;
			height:28px;
			background:image-url('preview_next.png') no-repeat top left;
			position:absolute;
			right:-50px;
			top:170px;
			text-indent:-9999rem;
		}
	}

	.left {
		width:50%;
		float:left;
		padding:0 5px 0 0;

		#sample {
			width:100%;
			height:334px;
			text-align:center;

			img {
				max-width:100%;
				max-height:334px;
				margin:0 auto;
			}
		}

		.infos {
			width:100%;
			padding:8px 0 0 0;

			button {
				float:right;

				&.opendoc {
					@include border-radius(5px);
					color:white;
					margin:10px 0 0 10px;
					height:30px;
					padding:0 10px;
					font-size:0.75rem;
					border:1px solid #0a0a0c;
					background: #40424d; /* Old browsers */
					background: -moz-linear-gradient(top, #40424d 1%, #282830 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#40424d), color-stop(100%,#282830)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, #40424d 1%,#282830 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, #40424d 1%,#282830 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, #40424d 1%,#282830 100%); /* IE10+ */
					background: linear-gradient(to bottom, #40424d 1%,#282830 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40424d', endColorstr='#282830',GradientType=0 ); /* IE6-9 */
				}

				&.fav {
					width:30px;
					height:30px;
					border:0;
					text-indent:-9999em;
					margin:10px 0 0 0;
					background:image-url('fav_ico.png') no-repeat center center;
				}
			}
		}

		.author {
			float:left;
			width:35%;

			.avatar {
				float:left;
				border:3px solid white;
				margin:0 6px 0 0;
			}

			strong {
				color:#fff;
				font-weight:700;
				font-size:0.75rem;
				display:block;
				line-height:1.1rem;
				padding:6px 0 2px 0;
			}

			em {
				font-style:italic;
				font-size:0.7rem;
				color:white;
			}
		}
	}

	.right {
		padding:0 0 0 5px;
		float:left;
		width:50%;

		.tabs {
			height:70px;
			float:left;
			width:100%;
			background:#222327;
			padding:0 0 4px;

			li {
				display:block;
				float:left;
				width:50%;
				height:70px;
				position:relative;
				font-size:0.8rem;

				&.active {
					background:image-url('tab_active.png') no-repeat bottom left
				}

				&:first-child {
					a {
						background:image-url('details_ico.png') no-repeat 20px center;
					}
				}

				&:last-child {
					span {
						display:block;
						height:20px;
						color:black;
						width:20px;
						line-height:15px;
						text-align:center;
						font-weight:normal;
						position:absolute;
						left:20px;
						top:27px;
						background:image-url('comments_ico.png') no-repeat center center;
					}
				}

				a {
					color:white;
					text-decoration:none;
					display:block;
					height:70px;
					width:100%;
					line-height:70px;
					padding-left:75px;
					font-weight:bold;
				}
			}
		}

		#preview-tab1 {
			float:left;
			width:100%;
			font-size:0.8rem;

			.infos {
				padding-left:58px;
				height:70px;
				width:100%;
				color:white;

				&.img {
					background:#2a2d34 image-url('img_ico.png') no-repeat 15px center;
				}

				strong {
					display:block;
					font-weight:bold;
					padding:20px 0 6px 0;
				}

				em {
					font-style:italic;
					font-size:0.75rem;
				}

				a {
					color:#71a9d1;
					text-decoration:none;
				}
			}

			li {
				height:48px;
				display:block;
				width:100%;
				border-top:1px solid #191a1f;
				border-bottom:1px solid #232429;

				&:first-child {
					border-top:0;
				}

				button {
					display:block;
					height:46px;
					width:100%;
					line-height:43px;
					color:#a5a5a5;
					text-align:center;
					font-size:0.8rem;
					text-decoration:none;
					border:0;
					background:none;
				}
			}

			.labels {
				height:60px;
				border-top:#31333a;
				background:#2a2d34;
				width:100%;
				padding:12px 15px 0;
				color:white;
				font-style:italic;
				font-size:0.75rem;

				em {
					display:block;
					font-weight:bold;
					padding:0 0 8px;
					font-size:0.8rem;
					font-style:normal;
				}
			}
		}

		#preview-tab2 {
			.comments-list {
				float:left;
				width:100%;
				margin:3px 0 0 0;
				background:#2a2d34;
				height:258px;
				overflow:auto;

				li {
					float:left;
					width:100%;
					border-bottom:1px solid #1C1D22;
					color:#a7a7a7;
				}

				img {
					float:left;
					width:50px;
					height:50px;
					margin:0 14px 0 0;
				}

				p {
					padding:10px 0 2px 64px;
					line-height:0.9rem;

					strong {
						font-weight:bold;
						color:white;
					}
				}

				span {
					display:block;
					padding:0 0 10px 64px;
				}
			}

			textarea {
				width:86%;
				height:50px;
				background:#2a2d34;
				border:1px solid #0a0a0c;
				padding:10px;
				color:#a7a7a7;
				font-style:italic;
				font-family:"Times New Roman", serif;
				resize:none;
				font-size:0.95rem;
				margin:11px 0;
				@include border-radius(4px);
				float:left;
			}

			button[type="submit"] {
				width:12%;
				margin:11px 0 0 2%;
				background:#3e414c;
				border:0;
				line-height:50px;
				height:50px;
				color:#222327;
				font-weight:bold;
				font-size:0.75rem;
				font-style:italic;
				@include border-radius(4px);
			}
		}
	}
}

// Fin preview

@import "login";
@import "home_sidebar";
@import "create";

