config = {
    templateBaseUrl: '/views/',
    cliendId: 'AUTH_CLIENT_ID',
    bucket_uri: 'http://BUCKET_SERVER_URI/bucket/upload/',
    useHtml5Mode: false,
    bucket_preview_uri: 'BUCKET_SERVER_URI',
    media_uri: 'http://MEDIA_SERVER/',
    rest_uri: "http://REST_API_SERVER/api/v0", 
    rootUrl: 'APP_SERVER_URI',
    homeStateName: 'home',
    loginBaseUrl: 'LOGIN_API_SERVER/api/v0'
}
